* {
  outline: none;
  margin: 0;
  list-style: none;
}
body {
  background-color: #f1f1f1;
  font: 1rem Arial serif;
  letter-spacing: .5px;
}
main, header, footer {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 2px #f1f1f1 solid;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  align-items: center;
}
.filter_pointer {
  cursor: pointer;
}
.filter__search {
  text-transform: uppercase;
  font-weight: 800;
}
.filter__select {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select__label {
  font-weight: 800;
}
.Select-control {
  min-width: 8rem;
  border:none;
}
.filter__reset {
  text-decoration: underline;
}
.items {
  padding: 0 1rem 1rem 1rem;
}
.items__total{
  color: #c7c7c7;
}
.items-table {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.items-table__row {
  display: flex;
  width: 100%;
  justify-content: left;
}
.row_bold {
  font-weight: 800;
}
.row + .filter_pointer:hover {
  background-color:#f1f1f1;
}
.row__item {
  padding: 1rem .5rem 1rem .5rem;
}
.row__item_lg {
  width: 20%;
}
.row__item_md {
  width: 15%
}
.row__item_sm {
  width: 10%
}

footer {
  height: 5rem;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 0 0;
}

.normal, .active {
  cursor: pointer;
}
.pagination__link {
  padding: .5rem;
}
.active {
  font-weight: 800;
}
.disabled {
  cursor: not-allowed;
  opacity: .5;
}