* {
  outline: none;
  margin: 0;
}
body {
  background-color: #f1f1f1;
  font: 1rem Arial serif;
  letter-spacing: .5px;
}
main, header, footer {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 2px #f1f1f1 solid;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  align-items: center;
}
header div {
  cursor: pointer;
}
.filter__search {
  text-transform: uppercase;
  font-weight: 800;
}
.filter__select {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter__select label {
  font-weight: 800;
}
.Select-control {
  min-width: 8rem;
  border:none;
}
.filter__reset {
  text-decoration: underline;
}
main {
  padding: 0 1rem 1rem 1rem;
}
main h2 {
  color: #c7c7c7;
}
.table {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.table__row {
  display: flex;
  width: 100%;
  justify-content: left;
}
.table li:first-of-type{
  font-weight: bold;
}
.table li:not(:first-of-type) {
  cursor: pointer;
}
.table li:not(:first-of-type):hover {
  background-color:#f1f1f1;
}
.table__row div {
  padding: 1rem .5rem 1rem .5rem;
}
.table__row--art {
  width: 10%;
}
.table__row--name {
  width: 20%;
}
.table__row--brand {
  width: 10%;
}
.table__row--weight {
  width: 10%;
}
.table__row--quantity {
  width: 10%;
}
.table__row--price {
  width: 15%;
}
.table__row--stock {
  width: 10%;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  padding: 1rem 0 0 0;
  align-items: baseline;
}
.pagination li{
  list-style: none;
}
.pagination li:not(.disabled) {
  cursor: pointer;
}
.pagination a {
  box-sizing: border-box;
  padding: .5rem;
}
.active {
  font-weight: 800;
}
.disabled {
  cursor: not-allowed;
  opacity: .5;
}